<table>
  <tr>
    <th>Forums</th>  
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><h2><%= link_to forum.title, forum %></h2>
    <i><%= forum.description %></i><br><%= pluralize(forum.topics.count, "topic") %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %> | 
    <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum', new_forum_path %>
